<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
<meta charset="UTF-8">
<title>My Website - About</title>
</head>
<body>
<h1>Daniel Leon </h1>
<p>HHey there, I'm Daniel Leon, and coding is my jam. I'm all about diving into the fascinating world of programming, 
  where reading and writing code is my ultimate passion. From tinkering with algorithms to unraveling intricate problems, I
   thrive on the challenge that coding presents. I'm constantly seeking to broaden my horizons, whether it's 
  by exploring new libraries or digging deep into documentation. Every line of code I write is a testament to my dedication and love for the craft.</p>
<img src="{{url_for('static', filename='images/man.jpg') }}"/> 
</body>
</html>